<header class="navbar navbar-expand-md bg-white sticky-top border-bottom" data-bs-theme="white" style="background-color: #e3f2fd;">
  <nav class="container-xxl flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand d-md-none" href="#">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-text-indent-right" viewBox="0 0 16 16">
        <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m10.646 2.146a.5.5 0 0 1 .708.708L11.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708zM2 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5m0 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
      </svg>
      Aperture
    </a>
    <a class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </a>
    <div id="offcanvas" class="offcanvas offcanvas-end" tabindex="1" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 id="offcanvasLabel" class="offcanvas-title">Aperture</h5>
        <button class="btn-close" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-0 mb-lg-0 list-unstyled">
            <li class="nav-item col-lg-auto"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
            <li class="nav-item col-lg-auto"><a class="nav-link" aria-disabled="false"> Disabled</a></li>
            <li class="nav-item col-lg-auto"><a class="nav-link" href="#">Disabled</a></li>
            <li class="nav-item col-lg-auto"><a class="nav-link" aria-disabled="false"> Disabled</a></li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
            <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
          </form>
        <ul class="navbar-nav  mb-0 mb-lg-0 list-unstyled">
          <li class="nav-item col-lg-auto"><a class="nav-link active" aria-current="page" href="#">Home</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>







